.card-frame {
  background: #fff; 
  margin-right: 40px;
  width: 150px;
  height: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card-header{
  height:35%;
  border-bottom-style: solid;
  border-bottom-color: #999;
  text-align: center;
  background-color: rgba(0,0,0,.05)
}

.card-header-a {
  font-size: 1rem !important;
  color:#000000; 
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
}

.card-body {
  margin-top: 15%;
  height: 30%;
}

.card-body-a {
  font-size: 0.9rem !important;
  color:blue;
}

.card-footer{
  height:35%;
  border-top-style: solid;
  border-top-color: #999;
  text-align: center;
  background-color: rgba(0,0,0,.05)
}

.card-button {
  color: #000000  !important; 
  font-weight: bold  !important; 
  background-color: rgb(128, 212, 128) !important;
  margin-top: 5%;
}

.card-footer-a {
  color:#000000; 
  text-decoration: underline;
  font-size: 1rem !important;
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
}

.imgwidth4 {
  width: 100%; 
  height: 70%;
}

.bord {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.heading {
  margin-bottom: 25px; 
  font-family: 'Times New Roman'; 
  font-weight: bold !important; 
  color: rgb(0, 0, 128);
}

.grid-item-size {
  margin-bottom: 40px;
  width: fit-content;
}
.grid-size {
  width: fit-content;
}
