.wall-paper {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    radial-gradient(palevioletred .5px, transparent 2px),
    radial-gradient(palevioletred .5px, transparent 2px),
    linear-gradient(#dfdcb4 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #dad5d5 75px, #dad5d5 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #dad5d5 76px, #dad5d5 77px, transparent 78px, transparent 109px),
    #dfdcb4;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.header-bg {
  background-color: rgb(128, 128, 128);
}

.side-bar-bg {
  background-color: rgba(128, 128, 128, 0.5);

}

a {
  color: #fff;
  font-weight: bold !important;
  font-size: 1.3rem  !important ;

}

.pf-c-nav__link.pf-m-current, .pf-c-nav__link.pf-m-current:hover, .pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link {
  color: var(--pf-c-nav__link--m-current--Color);
  background-color: grey;

}

.pf-c-nav__link:hover {
  background-color: black;
}

.pf-m-current::after {
  border-color: lightblue !important;
}